header {
  color: black;
  border-bottom: 0.50rem solid #EDCDBB;
  background-color: #fdf7e2;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: darkgrey;
}

#menuBurger {
  display: none;
}

img {
  max-width: 40%;
  max-height: 10%;
}

.lead {
  color: black;
  overflow: visible;
  border-style: solid;
  border-width: 0px;
  background-color: #ffffff;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
}

.lead p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: x-large;
}

footer {
  color: black;
  border-top: 0.50rem solid #EDCDBB;
  background-color: #fdf7e2;
  padding-top: 20px;
  padding-bottom: 30px;
}
