$textoprincipal:'IBM Plex Sans',
sans-serif;
$tamañotexto: x-large;

header {
   color: black;
   border-bottom: 0.50rem solid #EDCDBB;
   background-color: #fdf7e2;

   a {
      text-decoration: none;
      color: black;

      &:hover {
         color: darkgrey
      }
   }
}

#menuBurger {
   display: none;
}

img {
   max-width: 40%;
   max-height: 10%;
}

.lead {
   color: black;
   overflow: visible;
   border-style: solid;
   border-width: 0px;
   background-color: #ffffff;
   text-align: left;
   padding-bottom: 10px;
   padding-left: 10px;

   p {
      font-family: $textoprincipal;
      font-size: $tamañotexto;
   }
}

footer {
   color: black;
   border-top: 0.50rem solid #EDCDBB;
   background-color: #fdf7e2;
   padding-top: 20px;
   padding-bottom: 30px;
}